<div class="navbar-wagon">
  <%= link_to root_path do %>
    <%= image_tag "nomad_teacher_logo.png", height: 60 %>
  <% end %>
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
      <%= link_to "All Lessons", lessons_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "https://cdn1.iconfinder.com/data/icons/business-charts/512/customer-512.png", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>
</div>


