<div class="page">
  <div class="container">
    <div class="banner banner-title-show text-center">
      <h1>REVIEW YOUR ORDER</h1>
    </div>
    <div class="box-payment">
      <div class="row">
       <div class="col-xs-6">
        <div class="banner lesson-pic pic-payment" style="background-image: url(<%= image_path @lesson.picture %>);">
        </div>
      </div>
      <div class="description-text col-xs-6">
        <div class="lesson-information">
          <div class="pink-text">
              <h4><strong>Lesson name: </strong><%= @lesson.name %></h4>
                <h4><strong>Length of course: </strong><%= @lesson.timing %></h4>
                  <h4><strong>Teacher:</strong> <%= @teacher.naming %></h4>
                </div>
                <div class="lesson-description">
                  <hr/>
                  <h3><strong>PRICE:</strong> <%= humanized_money_with_symbol(@lesson.price) %></h3>
                </div>
                <div class="purchase-btn">
                  <%= form_tag lesson_booking_payments_path(@lesson, @booking) do %>
                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-name="Lesson"
                  data-email="<%= current_user.email %>"
                  data-description="Lesson <%= @booking.lesson_sku %>"
                  data-amount="<%= @booking.amount_cents %>"
                  data-currency="<%= @booking.amount.currency %>">
                </script>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





