<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <%= favicon_link_tag 'logo.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>nomad teacher.</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic|Cutive+Mono" rel="stylesheet">
  </head>
  <body>
    <div class="page">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <%= yield %>
      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
    </div>
    <div class="footer">
      <div class="footer-links">
        <a href="https://github.com/juliettech13/nomad_teacher"><i class="fa fa-github"></i></a>
        <a href="https://www.instagram.com/juliettech13/"><i class="fa fa-instagram"></i></a>
        <a href="https://medium.com/@juliettechevalier"><i class="fa fa-medium"></i></a>
        <a href="https://www.linkedin.com/in/juliette-chevalier/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        <-- Nomad Teacher is made with <i class="fa fa-heart"></i> by Juliette Chevalier.
      </div>
    </div>
  </body>
</html>
